<h1>Connect two Nodes through fuzzy coupling</h1>

<select name="neoServer1">
  <% @neo_servers.each do |neo| %>
      <option value="<%= neo['server']['data']['id'] %>"><%= neo['server']['data']['name'] %></option>
  <% end %>
</select>
<br>
<div id="graph"></div>