<h1>Welcome</h1>
<p>This page demonstrates the use of intuitionistic fuzzy sets for
  application and infrastructure dependencies.
</p>
<%= link_to 'START HERE!',  servers_path, class: 'button big' %>
<div id="graph">
</div>