<html>
<nav class="top-bar" data-topbar role="navigation">


  <section class="top-bar-section">

    <ul class="left">
      <li class="active"><a href="../">Home</a></li>
      <li><a href="/servers">Listing servers</a></li>
      <li><a href="/servers/new">New server</a></li>
      <li><a href="/servers/connect">Add relationships</a></li>
       </ul>
  </section>
</nav>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>

<h1>FuzzySlm</h1>
<p>This is the project for Fuzzy Based Service Level Management</p>
<%= link_to 'START HERE!',  servers_path, class: 'button'  %>
<div id="graph">
</div>
</body>
</html>


